In [ ]:
import numpy as np
import pandas as pd
import zipfile
import pyarrow
import os
from statsmodels.tsa.arima.model import ARIMA
from sklearn.model_selection import train_test_split
import gzip
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [ ]:
!python3 -m pip install "numpy<2"
!python3 -m pip install pmdarima
from pmdarima import auto_arima

Requirement already satisfied: numpy<2 in /usr/local/lib/python3.10/dist-packages (1.26.4)
Collecting pmdarima
  Downloading pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata (7.8 kB)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.4.2)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (3.0.11)
Requirement already satisfied: numpy>=1.21.2 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.26.4)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (2.2.2)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.5.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (1.13.1)
Requirement already satisfied: statsmodels>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (0.14.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (2.2.3)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (75.1.0)
Requirement already satisfied: packaging>=17.1 in /usr/local/lib/python3.10/dist-packages (from pmdarima) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->pmdarima) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.19->pmdarima) (2024.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22->pmdarima) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.13.2->pmdarima) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.19->pmdarima) (1.17.0)
Downloading pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 20.3 MB/s eta 0:00:00
Installing collected packages: pmdarima
Successfully installed pmdarima-2.0.4

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/Reduced_file_size_train.gzip'

df = pd.read_parquet(file_path, engine='pyarrow')
df.info()

Mounted at /content/drive
<class 'pandas.core.frame.DataFrame'>
Index: 4712734 entries, 2952328 to 24244632
Data columns (total 93 columns):
 #   Column        Dtype
---  ------        -----
 0   date_id       int16
 1   time_id       int16
 2   symbol_id     int8
 3   weight        float16
 4   feature_00    float16
 5   feature_01    float16
 6   feature_02    float16
 7   feature_03    float16
 8   feature_04    float16
 9   feature_05    float16
 10  feature_06    float16
 11  feature_07    float16
 12  feature_08    float16
 13  feature_09    int8
 14  feature_10    int8
 15  feature_11    int16
 16  feature_12    float16
 17  feature_13    float16
 18  feature_14    float16
 19  feature_15    float16
 20  feature_16    float16
 21  feature_17    float16
 22  feature_18    float16
 23  feature_19    float16
 24  feature_20    float16
 25  feature_21    float16
 26  feature_22    float16
 27  feature_23    float16
 28  feature_24    float16
 29  feature_25    float16
 30  feature_26    float16
 31  feature_27    float16
 32  feature_28    float16
 33  feature_29    float16
 34  feature_30    float16
 35  feature_31    float16
 36  feature_32    float16
 37  feature_33    float16
 38  feature_34    float16
 39  feature_35    float16
 40  feature_36    float16
 41  feature_37    float16
 42  feature_38    float16
 43  feature_39    float16
 44  feature_40    float16
 45  feature_41    float16
 46  feature_42    float16
 47  feature_43    float16
 48  feature_44    float16
 49  feature_45    float16
 50  feature_46    float16
 51  feature_47    float16
 52  feature_48    float16
 53  feature_49    float16
 54  feature_50    float16
 55  feature_51    float16
 56  feature_52    float16
 57  feature_53    float16
 58  feature_54    float16
 59  feature_55    float16
 60  feature_56    float16
 61  feature_57    float16
 62  feature_58    float16
 63  feature_59    float16
 64  feature_60    float16
 65  feature_61    float16
 66  feature_62    float16
 67  feature_63    float16
 68  feature_64    float16
 69  feature_65    float16
 70  feature_66    float16
 71  feature_67    float16
 72  feature_68    float16
 73  feature_69    float16
 74  feature_70    float16
 75  feature_71    float16
 76  feature_72    float16
 77  feature_73    float16
 78  feature_74    float16
 79  feature_75    float16
 80  feature_76    float16
 81  feature_77    float16
 82  feature_78    float16
 83  responder_0   float16
 84  responder_1   float16
 85  responder_2   float16
 86  responder_3   float16
 87  responder_4   float16
 88  responder_5   float16
 89  responder_6   float16
 90  responder_7   float16
 91  responder_8   float16
 92  partition_id  int32
dtypes: float16(86), int16(3), int32(1), int8(3)
memory usage: 867.4 MB

In [ ]:
def reduce_mem_usage(self, float16_as32=True):
    # memory_usage() calculates the memory usage of the dataframe; sum computes the total.
    start_mem = df.memory_usage().sum() / 1024**2
    print("Memory usage of dataframe is: {:.2f} MB".format(start_mem))

    for col in df.columns:  # Iterate through column names
        col_type = df[col].dtype  # Get the data type of the column

        if col_type != object and str(col_type) != "category":  # Skip if the column is of object type
            c_min, c_max = df[col].min(), df[col].max()  # Get the min and max values of the column

            # If the column is an integer type
            if str(col_type)[:3] == "int":
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)

            # If the column is a floating-point type
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    if float16_as32:  # If high precision is needed, use float32
                        df[col] = df[col].astype(np.float32)
                    else:
                        df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print("Memory usage after optimization is: {:.2f} MB".format(end_mem))
    print("Decreased by {:.1f}%".format(100 * (start_mem - end_mem) / start_mem))

    return df

In [ ]:
train_data = reduce_mem_usage(df, False)

Memory usage of dataframe is: 867.42 MB
Memory usage after optimization is: 853.94 MB
Decreased by 1.6%

In [ ]:
train_data.round(1)

,date_id,time_id,symbol_id,weight,feature_00,feature_01,feature_02,feature_03,feature_04,feature_05,...,responder_0,responder_1,responder_2,responder_3,responder_4,responder_5,responder_6,responder_7,responder_8,partition_id
2952328,233,17,19,5.199219,NaN,NaN,NaN,NaN,NaN,0.300049,...,-0.099976,-0.099976,-1.200195,-0.199951,1.299805,-0.899902,-0.300049,1.200195,-0.899902,1
5274252,371,505,12,1.200195,1.099609,-1.500000,1.599609,1.500000,-0.600098,-0.700195,...,-0.799805,0.099976,0.099976,-0.500000,0.799805,-0.300049,0.300049,1.000000,-1.000000,2
25873646,1123,552,37,0.799805,0.399902,-1.799805,0.399902,0.899902,-0.700195,-2.000000,...,0.199951,-0.000000,-0.000000,-0.399902,-1.500000,-0.199951,-0.700195,-2.099609,-0.399902,6
1055013,105,565,11,0.700195,NaN,NaN,NaN,NaN,NaN,2.800781,...,-0.099976,-2.199219,-5.000000,-0.399902,-2.300781,-5.000000,-0.300049,-0.199951,-0.700195,0
38340137,1461,186,11,4.500000,0.399902,2.000000,-0.199951,0.199951,-0.600098,0.300049,...,0.000000,-0.099976,0.199951,-0.099976,-0.300049,-0.199951,-0.199951,-0.300049,-0.399902,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15379799,802,482,26,0.500000,-1.799805,-2.000000,-1.000000,-1.900391,-1.500000,-0.600098,...,-0.700195,-0.300049,-0.500000,-0.399902,-0.199951,0.000000,-0.199951,-0.099976,0.399902,4
43467893,1600,553,18,2.000000,0.099976,-2.000000,-0.399902,-0.099976,1.700195,-0.300049,...,-0.000000,-0.000000,0.300049,1.599609,0.300049,-0.099976,2.199219,0.199951,-0.500000,9
286346,32,793,0,2.400391,NaN,NaN,NaN,NaN,NaN,1.099609,...,0.500000,2.800781,-0.000000,-0.199951,2.300781,-0.300049,-0.600098,-0.600098,-0.399902,0
11578470,671,266,1,4.398438,0.300049,0.199951,0.300049,0.500000,0.099976,-0.199951,...,0.099976,0.099976,-0.099976,-0.199951,-0.399902,-0.099976,-0.500000,-0.600098,-0.099976,3
24244632,1079,440,23,2.000000,0.700195,-1.299805,0.399902,1.000000,-0.899902,-0.000000,...,0.099976,0.300049,-0.300049,0.199951,0.199951,-0.199951,0.199951,0.099976,-0.099976,6

In [ ]:
features = train_data.filter(regex='^feature_')
responders = train_data.filter(regex='^responder_')

In [ ]:
X = features.values
y = responders['responder_6'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 50)

Scalar = MinMaxScaler()
X_train = Scalar.fit_transform(X_train)
X_test = Scalar.transform(X_test)